.hero_main_header{
    width: 100vw;
    padding: 10px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
}
.hero_sub_menu_main_container{
    display: flex;
    align-items: center;
    gap: 15px;
}

.download_button{
    background-color: #6C6C72;
    padding: 15px 20px;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    line-height: 13px;

}