.simplecard_mainContainer{
    padding: 30px;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 400px;
}
.simplecard_image_mainContainer{
    position: relative;
    display: flex;
    justify-content: center;
}
.simplecard_profile_image{
    position: absolute;
    top: 11px;
}
.simplecard_name{
    text-align: center;
    text-transform: uppercase;
    margin-top: 35px;
    font-weight: 700;
    font-size: 31px;
    line-height: 48px;
}
.simplecard_designation{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: rgba(108, 108, 114, 1);
}
.simplecard_about{
    margin-top: 15px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(108, 108, 114, 1);
}
.Socimedia_list{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.Socimedia_sublist_item{
    display: flex;
    align-items: center;
    gap: 15px;
}
.linkedin_style{
    color: rgba(26, 114, 222, 1);
    font-size: 25px;
    cursor: pointer;
}
.github_style{
    font-size: 25px;
    cursor: pointer;
}

.portfolio_style{
    font-size: 25px;
    cursor: pointer;
}
.divideline_style{
    font-size: 30px;
}